:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --border-accent-color: #ff0070;
  --accent-color: #ff0070;
  --accent-color-transparent: rgba(255, 38, 116, 0.4);
  --main-text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --title-decor-text-color: #000028;
  --border-color: #ff0070;
}

.theme-dark .lamp {
  display: block;
}

.theme-dark .header__theme-menu-item {
  color: var(--border-accent-color);
  font-size: 18px;
}

.theme-dark .section__title {
  color: var(--border-accent-color);
}
