:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #FFF1F7;
  --accent-color: #FF8DDB;
  --main-text-color: #353430;
  --title-text-color: #FFC2E6;
  --title-decor-text-color: #353430;
  --border-color: #353430;
  --border-color-hover: rgba(53, 52, 48, 0.4);
}

.theme-light .lamp {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #FFF1F7;
    --accent-color: #FF8DDB;
    --main-text-color: #353430;
    --title-text-color: #FFC2E6;
    --title-decor-text-color: #353430;
    --border-color: #353430;
    --border-color-hover: rgba(53, 52, 48, 0.4);
  }

  .lamp {
    display: none;
  }
}