:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --border-accent-color: #353430;
  --main-text-color: #353430;
  --title-text-color: #ffc2e6;
  --title-decor-text-color: #353430;
  --border-color: #353430;
  --border-color-hover: rgba(53, 52, 48, 0.4);
}

.theme-light .lamp {
  display: none;
}

.theme-light .header__theme-menu-item {
  color: var(--main-text-color);
  font-size: 18px;
}

.theme-light .header__theme-menu-button:hover {
  border-color: var(--main-text-color);
}

.theme-light .section__title {
  color: var(--main-text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --accent-color: #ff8ddb;
    --main-text-color: #353430;
    --title-text-color: #ffc2e6;
    --title-decor-text-color: #353430;
    --border-color: #353430;
    --border-accent-color: #353430;
  }

  .header__theme-menu-item {
    color: var(--main-text-color);
    font-size: 18px;
  }

  .header__theme-menu-button:hover {
    border-color: var(--main-text-color);
  }

  .section__title {
    color: var(--main-text-color);
  }

  .lamp {
    display: none;
  }
}
