/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-color: var(--background-color);
}

.header {
  position: relative;
  max-height: 768px;
  max-width: 100%;
  min-width: 375px;
  min-height: 668px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list{
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover{
  border-color: #FF0070;
  border: solid;
  border-width: 1px;
}

.header__theme-menu-item {
  color: #FF0070;
  font-family: "IBM Plex mono", sans-serif;
  margin-top: 20px;
  margin-bottom: 273px;
}

.header__title {
  display: block;
  max-width: 759px;
  margin-bottom: 0;
  font-family: "IBM Plex mono", sans-serif;
}

.header__title-text {
  color: #DB00FF;
  font-size: 157px;
  line-height: 83%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.lamp {
  position: absolute;
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  color: var(--accent-color);
  top: 20px;
  right: 48px;
}

.lamp__dot {
  position: relative;
  display: inline-block;
  height: 9px;
  width: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.paragraph {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  justify-self: flex-end;
  max-width: 491px;
  max-height: 71px;
  margin-top: 114px;
  margin-right: 20px;
  background-color: var(--accent-color);
}

.paragraph__text {
  font-weight: 700;
  color: #000028;
  font-size: 18px;
  line-height: 23.4px;
}

.why{
  display: grid;
  grid-template-columns: 314.96px 648.92px;
  margin-top: 60px;
}

.why__grid {
  grid-column-start: 2;
  grid-column-end: auto;
  gap: 20px;
}

.why__title {
  display: flex;
  justify-items: flex-start;
  color: var(--accent-color);
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  line-height: 23.4px;
}

.why__subtitle {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  position: relative;
  background-color: var(--accent-color);
  color: #000028;
  height: 23px;
  width: 649px;
  align-items: right;
}

.why__text {
  font-family: "IBM Plex mono", sans-serif;
  color: #F1B2CE;
  height: 244px;
  width: 648.92px;
}

.what {
  margin-top: 60px;
}

.what__grid {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 20px;
}

.what__title {
  display: flex;
  justify-items: flex-start;
  color: var(--accent-color);
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.what__subtitle {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  position: relative;
  background-color: var(--accent-color);
  color: #000028;
  height: 23px;
  width: 315px;
  align-items: right;
}

.what__text {
  font-family: "IBM Plex mono", sans-serif;
  color: #F1B2CE;
}

.how{
  display: grid;
  grid-template-columns: 315px 649px;
  margin-top: 60px;
}

.how__grid {
  grid-column-start: 2;
  grid-column-end: auto;
  gap: 20px;
}

.how__title {
  display: flex;
  justify-items: flex-start;
  color: var(--accent-color);
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.how__second-title {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  position: relative;
  background-color: var(--accent-color);
  color: #000028;
  height: 23px;
  width: 649px;
  align-items: right;
  font-style: bold;
  margin-bottom: 20px;
}

.how__subtitle {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  position: relative;
  background-color: var(--accent-color);
  color: #000028;
  height: 23px;
  width: 649px;
  align-items: right;
  
}

.how__text {
  font-family: "IBM Plex mono", sans-serif;
  color: #F1B2CE;
  width: 648.92px;
  margin-bottom: 20px;
}