/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-color: var(--background-color);
}

.header {
  position: relative;
  min-height: 768px;
  max-width: 1024px;
  margin: 0 auto 60px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list{
  display: flex;
  gap: 10px;
  list-style: none;
  padding:0;
  margin:0;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 1px 13px 3px;
  text-transform: lowercase;
  line-height: 18px;
}

.header__theme-menu-button:hover{
  border-color: #FF0070;
}

.header__theme-menu-item {
  color: #FF0070;
  font-family: "IBM Plex mono", sans-serif;
  margin-top: 20px;
  margin-bottom: 273px;
  font-size:18px;
}

.header__title {
  display: block;
  max-width: 759px;
  margin-bottom: 0;
  font-family: "IBM Plex mono", sans-serif;
}

.header__title-text {
  color: #DB00FF;
  line-height: 83%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.lamp {
  position: absolute;
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  color: var(--accent-color);
  top: 20px;
  right: 25px;
}

.lamp__dot {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 10px 3px var(--accent-color); 
  filter: blur(0.5px);
}

.corner{
  position:relative;
}

.corner::before,
.corner::after {
  content: "";
  position: absolute;
  width: 25px;  
  height: 25px;  
  border: 2px solid var(--accent-color);
}

.corner::before {
  top: 20px;
  right: 22px;
  border-left: none;
  border-bottom: none;
}

.corner::after {
  bottom: 20px;
  left: 20px;
  border-right: none;
  border-top: none;
}

.paragraph {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  justify-self: flex-end;
  max-width: 491px;
  max-height: 71px;
  margin-top: 114px;
  margin-right: 20px;
  background-color: var(--accent-color);
}

.paragraph__text {
  font-weight: 700;
  color: #000028;
  font-size: 18px;
  line-height: 23.4px;
}

.why{
  display: grid;
  grid-template-columns: 314.96px 648.92px;
  margin-top: 60px;
  margin-left: 20px;
  gap: 20px;
}

.why__grid {
  grid-column-start: 2;
  grid-column-end: auto;
}

.why__title {
  display: flex;
  justify-items: flex-start;
  color: var(--accent-color);
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  line-height: 23.4px;
}

.why__subtitle {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  position: relative;
  background-color: var(--accent-color);
  color: #000028;
  height: 23px;
  width: 649px;
  align-items: right;
  margin-bottom: 10px;
}

.why__text {
  font-family: "IBM Plex mono", sans-serif;
  color: #F1B2CE;
  height: 234px;
  width: 648.92px;
  font-size: 18px;
  margin: 0;
}

.what {
  margin-top: 50px;
  margin-left: 20px;
}

.what__grid {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  gap: 20px;
}

.what__title {
  display: flex;
  justify-items: flex-start;
  color: var(--accent-color);
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  line-height: 23.4px;
  margin-bottom: 22px;
}

.what__subtitle {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  position: relative;
  background-color: var(--accent-color);
  color: #000028;
  height: 23px;
  width: 315px;
  align-items: right;
  margin-bottom: 10px;
}

.what__text {
  font-family: "IBM Plex mono", sans-serif;
  color: #F1B2CE;
  font-size: 18px;
  line-height: 23.4px;
}

.how{
  display: grid;
  grid-template-columns: 315px 649px;
  margin-top: 80px;
  margin-left: 20px;
  gap: 20px;
}

.how__grid {
  grid-column-start: 2;
  grid-column-end: auto;
  
}

.how__title {
  display: flex;
  justify-items: flex-start;
  color: var(--accent-color);
  font-size: 18px;
  font-family: "IBM Plex mono", sans-serif;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.how__second-title {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  position: relative;
  background-color: var(--accent-color);
  color: #000028;
  height: 23px;
  width: 649px;
  align-items: right;
  font-style: bold;
  margin-bottom: 20px;
  font-size: 18px;
}

.how__subtitle {
  font-family: "IBM Plex mono", sans-serif;
  display: flex;
  position: relative;
  background-color: var(--accent-color);
  color: #000028;
  height: 23px;
  width: 649px;
  margin-bottom: 10px;
  align-items: right;
}

.how__text {
  font-family: "IBM Plex mono", sans-serif;
  color: #F1B2CE;
  width: 648.92px;
  margin-bottom: 23px;
  font-size: 18px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  grid-auto-flow: dense;
  margin-top: 60px;
  padding: 0 20px 60px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__title {
  grid-column: 1 / -1;
  font-family: "IBM Plex mono", sans-serif;
  background-color: var(--accent-color);
  color: #000028;
  height: 23px;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: auto;
}

.gallery > :nth-child(2) {
  grid-column: span 2;
}

.gallery > :nth-child(3) {
  grid-row: span 2;
}

.gallery > :nth-child(4) {
  grid-row: span 2;
}

.gallery > :nth-child(6) {
  grid-column: span 2;
}

.footer__title {
  display: block;
  max-width: 759px;
  margin: 319px 276px 319px 277px;
  font-family: "IBM Plex mono", sans-serif;
}

.footer__title-text {
  color: #DB00FF;
  line-height: 83%;
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}